docs/n8n/hr-lite-events.workflow.json
{
  "name": "HR-Lite Events",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "hr-events",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 0],
      "webhookId": "hr-events"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.eventType }}",
                    "rightValue": "leave.submitted",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "leave.submitted"
            }
          ]
        },
        "options": {}
      },
      "id": "switch",
      "name": "Switch Event",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [220, 0]
    },
    {
      "parameters": {
        "fromEmail": "hr-lite@localhost",
        "toEmail": "={{ $json.body.recipientEmail }}",
        "subject": "={{ $json.body.subject }}",
        "text": "={{ $json.body.body }}",
        "options": {}
      },
      "id": "email",
      "name": "Send Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [440, 0],
      "credentials": { "smtp": { "id": "CONFIGURE_SMTP", "name": "SMTP" } }
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Switch Event", "type": "main", "index": 0 }]] },
    "Switch Event": { "main": [[{ "node": "Send Email", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "meta": { "templateCredsSetupCompleted": false }
}
